.main-container{
   background-color: burlywood;
   top: 8%;
   left: 28%;
   position: absolute;
   transform: translate(-28% -8%);
   padding: 30px;
   margin: 40px;
}
.btn-light{
    text-align: center;
}
.btn-container{
    text-align: center;
    margin-top: 30px;
}
.red-btn,
.yellow-btn,
.green-btn{
    padding: 10px;
    background-color: aqua;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 10px;
}
.red-btn:hover{
    background-color: blueviolet;
}
.yellow-btn:hover{
    background-color: blueviolet;
}
.green-btn:hover{
    background-color: blueviolet;
}


.red,
.yellow,
.green{
    padding: 70px;
    border-radius: 100%;
    margin: 5px;
    border: 3px solid white;
}
h2{
    text-align: center;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.result{
    color: green;
   text-align: center;
   margin-top: 30px;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
}
.timer{
    font-size: 25px;
    text-align: center;
}
.auto-start-btn{
    text-align: center;
    margin-top: 40px;
}
.auto-start{
    padding: 10px 25px 10px 25px ;
    background-color: blueviolet;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.auto-start:hover{
    background-color:rgb(156, 156, 156);
}
.red{
    background-color: rgb(255, 112, 112);
}
.yellow{
    background-color: rgb(252, 252, 154);
}
.green{
    background-color: rgb(159, 255, 159);
}

@media screen and (max-width:650px){
    .main-container{
        top: 5%;
        left: 7%;
        transform: translate(-7% -5%);
        padding: 10px;
     }
     .result{
       font-size: 18px;
     }
     .red,
     .yellow,
     .green{
        padding: 40px;
        margin: 2px;
     }
}
@media screen and (max-width:370px){
    .main-container{
        top: 5%;
        left: 5%;
        transform: translate(-5% -5%);
        padding: 10px;
     }
     .result{
       font-size: 15px;
     }
     .red,
     .yellow,
     .green{
        padding: 19px;
        margin: 4px;
     }
}